@model IEnumerable<Shop_Nhi.Models.Framework.Post>


@{
    ViewBag.Title = "Quản lý Bài viết";
    Layout = "~/Areas/Pn/Views/Shared/_Layout.cshtml";
}

@section title{
    DANH SÁCH BÀI VIẾT
}

@section JsFooter{


    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable').DataTable();
        });

    </script>

    <!--Change status-->
    <script>
        $(document).ready(function () {
            $('.trangthai').off('click').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var status = $(this);
                $.ajax({
                    url:"@Url.Action("ChangeStatus","Posts")",
                    data: { id  : id},
                    type:"POST",
                    dataType:"JSON",
                    success: function (res) {
                        if (res.status == true) {
                            status.empty().append('<span class="btn btn-success btn-xs">Kích hoạt</span>');
                        } else {
                            status.empty().append('<span class="btn btn-danger btn-xs">Khóa</span>');
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }

                });
            });
        });
    </script>

}
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <p class="text-muted font-13 m-b-30">
                <a class="btn btn-success" href="@Url.Action("Create","Posts")"><i class="fa fa-plus-circle"></i> Thêm mới</a>
            </p>
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ảnh</th>
                        <th>Tên</th>
                        <th>Người viết</th>
                        <th>Ngày viết</th>
                        <th>Người sửa</th>
                        <th>Ngày sửa</th>
                        <th>#</th>
                        <th>#</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var kichhoat = "btn btn-success btn-xs";
                        var khoa = "btn btn-danger btn-xs";
                        <tr id="row_@item.ID">
                            <td><img src="@item.image" width="30" height="30" alt="@item.name" /></td>
                            <td>@item.name</td>
                            <td>@item.createByID</td>
                            <td>@item.createDate</td>
                            <td>@item.modifiedByID</td>
                            <td>@item.modifiedByDate</td>
                            <td><a data-id="@item.ID" class="trangthai" href="#">@Html.Raw(item.status ? "<span class='" + kichhoat + "'>Kích Hoạt</span>" : "<span class='" + khoa + "'>Khóa</span>")</a></td>
                            <td>
                                <a class="btn btn-info btn-xs" href="@Url.Action("Edit","Posts",new {id = item.ID })">
                                    <i class="fa fa-pencil"></i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-xs" onclick="return confirm('Bạn chắc chắn muốn xóa trang này?')" data-id="@item.ID" href="@Url.Action("Delete", "Posts", new { id = item.ID })">
                                    <i class="fa fa-trash-o"></i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



