@model IEnumerable<Shop_Nhi.Models.Framework.Contact>
@{
    ViewBag.Title = "Trang liên hệ";
    Layout = "~/Areas/Pn/Views/Shared/_Layout.cshtml";
}
@section title{
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Pn")">ADMIN</a></li>
        <li><a href="@Url.Action("Body","Pn")">QUẢN TRỊ NỘI DUNG</a></li>
        <li class="active">LIÊN HỆ</li>
    </ol>
}
@section JsFooter{



    <!--Change status-->
    <script>
        $(document).ready(function () {
            $('.trangthai').off('click').on('click', function (e) {
                e.preventDefault();
                var id = $(this).data('id');
                var status = $(this);
                $.ajax({
                    url: "@Url.Action("ChangeStatus","Contacts")",
                    data: { id: id },
                    type: "POST",
                    dataType: "JSON",
                    success: function (res) {
                        if (res.status == true) {
                            status.empty().append('<span class="btn btn-success btn-xs">Kích hoạt</span>');
                        } else {
                            status.empty().append('<span class="btn btn-danger btn-xs">Khóa</span>');
                        }
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }

                });
            });
        });
    </script>

}
<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ngày tạo</th>
                        <th>Ngày sửa</th>
                        <th>Người sửa</th>
                        <th>Trạng thái</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var kichhoat = "btn btn-success btn-xs";
                        var khoa = "btn btn-danger btn-xs";
                        <tr id="row_@item.ID">
                            <td>@item.createDate</td>
                            <td>@item.modifiedByDate</td>
                            <td>@item.modifiedByID</td>
                    
                            <td><a data-id="@item.ID" class="trangthai" href="#">@Html.Raw(item.status ? "<span class='" + kichhoat + "'>Kích Hoạt</span>" : "<span class='" + khoa + "'>Khóa</span>")</a></td>
                            <td>
                                <a class="btn btn-info btn-xs" href="@Url.Action("Edit","Contacts",new {id = item.ID })">
                                    <i class="fa fa-pencil"></i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-xs" onclick="return confirm('Bạn chắc chắn muốn xóa?')" data-id="@item.ID" href="@Url.Action("Delete", "Contacts", new { id = item.ID })">
                                    <i class="fa fa-trash-o"></i>
                                    Xóa
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

