
@{
    ViewBag.Title = "Quản trị nội dung";
    Layout = "~/Areas/Pn/Views/Shared/_Layout.cshtml";
}

@section title{
    QUẢN TRỊ NỘI DUNG
}

@section JsFooter{
    
    <!--Themes-->
<link href="~/Content/theme-color/orange-theme.css" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {
         
            $('.change-theme').off('click').on('click', function (e) {
                e.preventDefault();
                var link = $(this).data('link');
                var cf = confirm('Bạn muốn chọn màu này cho trang chủ?');
                if (cf) {
                    $.ajax({
                        url: '@Url.Action("ChangeTheme","Pn")',
                        type: 'GET',
                        dataType: 'JSON',
                        data: { id: 1, link: link },
                        success: function (res) {
                            if (res.status == true) {
                                alert('Thành công');
                                $('#myThemes').modal('hide');
                            }
                        }
                    });
                }
            });
        });
   

    </script>

    }


<div class="brand-body-item">
    <a href="@Url.Action("Index","Contacts")">
        <div class="brand-body-item-icon">
            <div class="icon-icon abouts">
            </div>
        </div>
        <div class="brand-body-item-icon-title">TRANG LIÊN HỆ</div>
    </a>
</div>

<div class="brand-body-item">
    <a href="#" data-toggle="modal" data-target="#myThemes">
        <div class="brand-body-item-icon">
            <div class="icon-icon theme">
            </div>
        </div>
        <div class="brand-body-item-icon-title">THEME</div>
    </a>
</div>

<div class="brand-body-item">
    <a href="@Url.Action("GetContentSeo","Pn")">
        <div class="brand-body-item-icon">
            <div class="icon-icon seo">
            </div>
        </div>
        <div class="brand-body-item-icon-title">CẤU HÌNH SEO</div>
    </a>
</div>

<div class="brand-body-item">
    <a href="@Url.Action("Index","Menu")">
        <div class="brand-body-item-icon">
            <div class="icon-icon page">
            </div>
        </div>
        <div class="brand-body-item-icon-title">MENU</div>
    </a>
</div>

<div class="brand-body-item">
    <a href="@Url.Action("Index","PageBody")">
        <div class="brand-body-item-icon">
            <div class="icon-icon page">
            </div>
        </div>
        <div class="brand-body-item-icon-title">DANH SÁCH TRANG</div>
    </a>
</div>

<div class="brand-body-item">
    <a href="@Url.Action("Index","Slide")">
        <div class="brand-body-item-icon">
            <div class="icon-icon slide">
            </div>
        </div>
        <div class="brand-body-item-icon-title">SLIDE</div>
    </a>
</div>

<div class="brand-body-item">
    <a href="@Url.Action("Index", "Notifications")">
        <div class="brand-body-item-icon">
            <div class="icon-icon noti">
            </div>
        </div>
        <div class="brand-body-item-icon-title">THÔNG BÁO</div>
    </a>
</div>

<div class="brand-body-item">
    <a href="@Url.Action("Index","Footer")">
        <div class="brand-body-item-icon">
            <div class="icon-icon seo">
            </div>
        </div>
        <div class="brand-body-item-icon-title">FOOTER</div>
    </a>
</div>

<!--Theme mobal-->

<div id="myThemes" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Chọn màu cho trang chủ</h4>
            </div>
            <div class="modal-body">
                <a href="#" data-link="/Content/theme-color/orange-theme.css" class="change-theme">
                    <div class="theme-color" style="background-color:#ff871c;"></div>
                </a>              
                <a href="#" id="bridge" data-link="/Content/theme-color/bridge-theme.css" class="change-theme">
                    <div class="theme-color" style="background-color:#a5d549;"></div>
                </a>

                <a href="#" id="dark-red" data-link="/Content/theme-color/dark-red-theme.css" class="change-theme">
                    <div class="theme-color" style="background-color:#970001;"></div>
                </a>

                <a href="#" id="rose" class="change-theme" data-link="/Content/theme-color/rose-theme.css">
                    <div class="theme-color" style="background-color:#ff6666;"></div>
                </a>

                <a href="#" id="green" class="change-theme" data-link="/Content/theme-color/green-theme.css">
                    <div class="theme-color" style="background-color:#3fc35f;"></div>
                </a>

                <a href="#" id="lite-blue" class="change-theme" data-link="/Content/theme-color/lite-blue-theme.css">
                    <div class="theme-color" style="background-color:#37c6f5;"></div>
                </a>

                <a href="#" id="pink" class="change-theme" data-link="/Content/theme-color/pink-theme.css">
                    <div class="theme-color" style="background-color:#ff2851;"></div>
                </a>

                <a href="#" id="purple" class="change-theme" data-link="/Content/theme-color/purple-theme.css">
                    <div class="theme-color" style="background-color:#c762cb;"></div>
                </a>

                <a href="#" id="red" class="change-theme" data-link="/Content/theme-color/red-theme.css">
                    <div class="theme-color" style="background-color:#ee4532;"></div>
                </a>

                <a href="#" id="yellow" class="change-theme" data-link="/Content/theme-color/yellow-theme.css">
                    <div class="theme-color" style="background-color:#f7c510;"></div>
                </a>

            </div>
            <div class="clear"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

