<!DOCTYPE html>

<html ng-app="myapp" ng-controller="indexController">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>      
    <!--CSS-->
    @Styles.Render("~/Content/CssAdmin")   
    @RenderSection("CssHead", required: false)
    <!---Script--->    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>    
</head>
<body>
    <div ng-show="IsLoading" class="loading">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>N.FASHION</span> ADMIN</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="//#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa user"></i> @Session["username"]<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">                            
                            <li><a href="#"><i class="fa fa-key"></i> Đổi mật khẩu</a></li>
                            <li><a href="#"><i class="fa fa-sign-out"></i> Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.container-fluid -->
    </nav>

    <div id="sidebar-collapse" class="col-md-3 col-lg-2 sidebar">
        <form role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
            </div>
        </form>
        <ul class="nav menu">
            <li><a class="menuClick" href="/Pn/#/DASH_Index"><i class="fa fa-tachometer"></i> DASHBOARD</a></li>
            <li><a class="menuClick" href="/Pn/#/PRO_Index"><i class="fa fa-bars"></i> SẢN PHẨM</a></li>
            <li><a class="menuClick" href="/Pn/#/CAT_Index"><i class="fa fa-clipboard"></i> DANH MỤC</a></li>
            <li><a class="menuClick" href="/Pn/#/ORD_Index"><i class="fa fa-file-text-o"></i> ĐƠN HÀNG</a></li>
            <li class="parent">
                <a class="menuClick" href="#sub-item-1" data-toggle="collapse">
                    <i class="fa fa-caret-down"></i> QUẢN TRỊ
                </a>
                <ul class="children collapse" id="sub-item-1">
                    <li>
                        <a class="" href="//#">
                            <i class="fa fa-cog"></i> Nội dung
                        </a>
                    </li>
                    <li>
                        <a class="" href="//#">
                            <i class="fa fa-book"></i> Bài viết
                        </a>
                    </li>
                    
                </ul>
            </li> 
            <li><a class="menuClick" href="/Pn/#/USER_Index"><i class="fa fa-user"></i> TÀI KHOẢN</a></li>      
        </ul>
    </div><!--/.sidebar-->
    
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
        @RenderBody()        
    </div>
    <!--Message-->
    <span id="page-notification" kendo-notification="msg" k-options="msgOptions"></span>
        
        @Scripts.Render("~/bundles/JsAdmin")
         @Scripts.Render("~/bundles/app")
        @RenderSection("JsFooter", required: false)
</body>
</html>
