@model Shop_Nhi.Models.Framework.Order
@{
    ViewBag.Title = "Chi tiết đơn hàng";
    Layout = "~/Areas/Pn/Views/Shared/_Layout.cshtml";
    var ListOrderDetails = (List<Shop_Nhi.Models.Framework.OrderDetail>) ViewBag.OrderDetails;
}
@section title{
   Chi tiết đơn hàng @Model.ID
    }
<section class="content invoice">
    <a href="@Url.Action("Index","Order")" class="btn btn-default">Quay lại</a>
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12 invoice-header">
            <h1>
                <small class="pull-right">Ngày: @DateTime.Now</small>
            </h1>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <address>
                <strong>Khách hàng:</strong> <span class="order-detai name">@Model.fullName</span>
                <br>Địa chỉ: <span class="order-detai">@Model.address</span>
                <br>Số điện thoại: <span class="order-detai">@Model.phone</span>
                <br>Email: <span class="order-detai">@Model.email</span>                                   
                <br>Thanh toán: <span class="order-detai">@Model.Pay.name</span>
                <br>Ngày đặt: <span class="order-detai">@Model.dateSet</span>
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <b>Mã đơn hàng:</b><span class="order-detai">@Model.ID</span>
            <br>
            <b>Ngày đặt :</b> <span class="order-detai">@Model.dateSet</span>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Tên sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                   @foreach(var item in ListOrderDetails)
                   {
                    <tr>
                        <td>@item.productCode</td>
                        <td>@item.productName</td>
                        <td>@item.quantity</td>
                        <td>@string.Format("{0:0,0}", item.productPrice.GetValueOrDefault(0))</td>
                        <td>@string.Format("{0:0,0}", item.quantity * item.productPrice.GetValueOrDefault(0))</td>
                    </tr>
                   }
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- accepted payments column -->
        <!-- /.col -->
        <div class="col-xs-6">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <th style="width:50%">Tổng tiền:</th>
                            <td>@string.Format("{0:0,0} VNĐ",Model.totalAmount)</td>
                        </tr>
                        <tr>
                            <th>Shipping:</th>
                            <td>.........</td>
                        </tr>
                        <tr>
                            <th>Tổng:</th>
                            <td>.........</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
            <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>
            <a href="@Url.Action("ChangeStatus", "Order",new {@id = Model.ID })" class="btn btn-success pull-right" data-id="@Model.ID"> <i class="fa fa-credit-card"></i> Xác nhận</a>
            <a href="@Url.Action("ExportPdf", "Order",new {@id = Model.ID })" class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Xuất file PDF</a>
        </div>
    </div>
</section>
