@model List<Shop_Nhi.Models.Framework.Order>

@{
    ViewBag.Title = "Quản lý đơn hàng";
    Layout = "~/Areas/Pn/Views/Shared/_Layout.cshtml";
}
@section title{
    DANH SÁCH ĐƠN HÀNG
}

@section JsFooter{ 


<script>
    $(document).ready(function () {
        $('#datatable-buttons').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
          
</script>
    
    <!--Change-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.check').change(function () {
                if (this.checked) {
                    var id = $(this).val();
                    $.ajax({
                        url:"@Url.Action("ChangePayment", "Order")",
                        type: "POST",
                        dataType: "JSON",
                        data: { id: id },
                        success: function (res) {
                            //
                            if (res.status == true) {
                               
                            }
                            
                        }
                })
                }
               
            });
        });
    </script>
}

            <table id="datatable-buttons" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="headings"></th>
            <th>Mã</th>
            <th>Khách hàng</th>
            <th>Số điện thoại</th>
            <th>Email</th>
            <th>Ngày đặt</th>
            <th>Tổng tiền</th>
            <th>#</th>
            <th>#</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var xacnhan = "btn btn-success btn-xs";
            var icon_view = "fa fa-check";
            var img_new = "/img/icon_new.gif";
            var alt = "Mới";
          
            <tr class="even pointer">
                <td>      
                    <div class="icheckbox">
                        <input class="check" value="@item.ID" style="width:20px;height:20px;" type="checkbox" @Html.Raw(item.Payment ? "checked='checked'" : "") data-toggle="tooltip" data-placement="top" title="Duyệt">                                     
                    </div>                    
                </td>
                <td>@item.ID</td>
                <td>@item.fullName</td>
                <td>@item.phone</td>
                <td>@item.email</td>
                <td>@item.dateSet</td>
                <td>@string.Format("{0:0,0}", item.totalAmount)</td>
                <td>@Html.Raw(item.status ? "<span class='" + xacnhan + "'><i class='" + icon_view + "'></i> Đã xem</span>" : "<img src='" + img_new + "' alt='" + alt + "'/>")</td>
                <td>
                    <a href="@Url.Action("Details","Order", new {@id = item.ID })" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-eye-open"></i>Xem</a>
                    <a onclick="return confirm('Bạn chắc chắn muốn xóa?')" href="@Url.Action("Delete", "Order",new {@id = item.ID })" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-remove-sign"></i>Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>



