﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:url" content="http://nhinguyenfashion.com/" />
    <meta property="og:site_name" content="@ViewBag.Description" />
    <meta property="og:image" content="http://nhinguyenfashion.com/img/card_nfashion.jpg" />
    <meta property="fb:app_id" content="1280909935293735" />
    @{
        HttpApplicationState theme = HttpContext.Current.ApplicationInstance.Application;
    }
    @Styles.Render("~/Content/css")
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="@theme["Theme"]" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>   
</head>
<body class="" style="">
    <div class="loading hide">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
    </div>
<a class="scrollToTop" href="#"><i class="fa fa-chevron-up"></i></a>
<header id="aa-header">
    <!-- start header top -->
    <div class="aa-header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="aa-header-top-area">
                        <!-- start header top left -->
                        <div class="aa-header-top-left">
                            <div class="cellphone">
                                <p><span class="fa fa-phone"></span>0906-20-20-50
                                </p>
                            </div>
                            <!-- start language -->
                            <div class="aa-language hidden-xs">
                                <div class="dropdown">
                                    <a class="btn dropdown-toggle" href="/lien-he" type="button">
                                        <i class="fa fa-map-marker"></i> LIÊN HỆ
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- / header top left -->
                        @{Html.RenderAction("_TopMenu", "Home");}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / header top -->
    @{Html.RenderAction("_Header", "Home");}
</header>
<!-- End header section -->
@{Html.RenderAction("_Menu", "Home");}

@RenderBody()

@{Html.RenderAction("_Footer", "Home");}

<!--/CONTENT-->
@Scripts.Render("~/bundles/js")
@Scripts.Render("~/bundles/jsController")
<!---->
<script>
    var stickyOffset = $('#menu').offset().top;

    $(window)
        .scroll(function() {
            var menu = $('#menu'),
                scroll = $(window).scrollTop();

            if (scroll >= stickyOffset) menu.addClass('menu_scroll');
            else menu.removeClass('menu_scroll');
        });
</script>
@RenderSection("JsFooter", required: false)
@RenderSection("Popup", required: false)
</body>
</html>
