@{
    ViewBag.Title = ViewBag.Title;
    ViewBag.KeyWords = ViewBag.KeyWords;
    ViewBag.Description = ViewBag.Description;
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Shop_Nhi.Models.Framework.Product> ListNew = (List<Shop_Nhi.Models.Framework.Product>)ViewBag.ListNew;
    List<Shop_Nhi.Models.Framework.Product> ListSale = (List<Shop_Nhi.Models.Framework.Product>)ViewBag.ListSale;
    List<Shop_Nhi.Models.Framework.Product> ListHot = (List<Shop_Nhi.Models.Framework.Product>)ViewBag.Hot;
    List<Shop_Nhi.Models.Framework.Product> ListFalse = (List<Shop_Nhi.Models.Framework.Product>)ViewBag.ListByStatusFalse;
}


@section JsFooter{
    <script src="~/Scripts/JS/JsAddCart.js"></script>
    <script type="text/javascript">
        jQuery(window).load(function () {
            if (document.cookie.indexOf("adf") == -1){
                document.cookie = "popunder1 = adf";
                setTimeout(function() {
                        $('#myPopup').modal('show');
                    },
                    3000);
            }
        });
    </script>
}

@{Html.RenderAction("_Slide", "Home");}

@section Popup{
    @{ Html.RenderAction("_Popup", "Home");}
}
<!-- Products section -->
<section id="aa-product">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="aa-product-area">
                        <div class="aa-product-inner">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#men" data-toggle="tab">Sản phẩm mới</a></li>
                                <li><a href="#sale" data-toggle="tab">On Sale</a></li>
                                <li><a href="#hot" data-toggle="tab">Hàng bán chạy</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start hot product category -->
                                <div class="tab-pane fade in active" id="men">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in ListNew)
                                        {
                                            <li>
                                                <figure>
                                                    <a data-toggle="tooltip" data-trigger="hover" data-placement="auto right" data-html="true" title="<img src='http://zuryshop.net/@item.image'/>" class="aa-product-img" href="/chi-tiet/@item.metatTitle-@item.ID"><img src="http://zuryshop.net/@item.image" /></a>
                                                    <figcaption>
                                                        <div class="aa-product-title"><a title="@item.productName" href="/chi-tiet/@item.metatTitle-@item.ID">@item.productName</a></div>
                                                        @if (item.promotionPrice > 0)
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.promotionPrice)<sup><u>đ</u></sup></span><span class="aa-product-price"><del>@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></del></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></span>
                                                        }

                                                        <div class="btn-product-mb">
                                                            <a href="#" class="aa-add-card-btn-mb action like" id="like_@item.ID" data-id="@item.ID" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span class="fa fa-heart-o"></span></a>
                                                            @if (item.quantity > 0)
                                                            {
                                                                <a class="aa-add-card-btn-mb action-addcart" role="button" href="#" data-id="@item.ID"><span class="fa fa-shopping-cart"></span> MUA HÀNG</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="aa-add-card-btn-mb disabled" role="button"><span class="fa fa-shopping-cart"></span> MUA HÀNG</a>
                                                            }
                                                            <a href="#" class="aa-add-card-btn-mb action quick-view" data-id="@item.ID" data-toggle2="tooltip" data-placement="top" title="Xem nhanh"><span class="fa fa-search"></span></a>
                                                        </div>
                                                    </figcaption>
                                                </figure>

                                                <!-- product badge -->
                                                @if (item.quantity == null || item.quantity == 0)
                                                {
                                                    <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                                                }
                                            </li>
                                        }
                                    </ul>
                                    <a class="aa-browse-btn" href="/san-pham-moi">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / hot product category -->
                                <!-- start sale product category -->
                                <div class="tab-pane fade" id="sale">
                                    <ul class="aa-product-catg" id="list-sale">
                                        @foreach (var item in ListSale)
                                        {
                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="/chi-tiet/@item.metatTitle-@item.ID"><img src="@item.image" alt="@item.productName"></a>

                                                    <figcaption>
                                                        <div class="aa-product-title"><a title="@item.productName" href="/chi-tiet/@item.metatTitle-@item.ID">@item.productName</a></div>
                                                        @if (item.promotionPrice > 0)
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.promotionPrice)<sup><u>đ</u></sup></span><span class="aa-product-price"><del>@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></del></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></span>
                                                        }
                                                        <div class="btn-product-mb">
                                                            <a href="#" class="aa-add-card-btn-mb action like" id="like_@item.ID" data-id="@item.ID" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span class="fa fa-heart-o"></span></a>
                                                            @if (item.quantity > 0)
                                                            {
                                                                <a class="aa-add-card-btn-mb action-addcart" role="button" href="#" data-id="@item.ID"><span class="fa fa-shopping-cart"></span> MUA HÀNG</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="aa-add-card-btn-mb disabled" role="button"><span class="fa fa-shopping-cart"></span> MUA HÀNG</a>
                                                            }
                                                            <a href="#" class="aa-add-card-btn-mb action quick-view" data-id="@item.ID" data-toggle2="tooltip" data-placement="top" title="Xem nhanh"><span class="fa fa-search"></span></a>
                                                        </div>
                                                    </figcaption>
                                                </figure>

                                                <!-- product badge -->
                                                @if (item.quantity == null || item.quantity == 0)
                                                {
                                                    <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                                                }
                                            </li>
                                        }
                                    </ul>
                                    <a class="aa-browse-btn" href="/san-pham-moi">Xem thêm<span class="fa fa-long-arrow-right"></span></a>
                                </div>
                                <!-- / sale product category -->
                                <!-- start new product category -->
                                <div class="tab-pane fade" id="hot">
                                    <ul class="aa-product-catg">
                                        <!-- start single product item -->
                                        @foreach (var item in ListHot)
                                        {

                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="/chi-tiet/@item.metatTitle-@item.ID"><img src="@item.image" alt="@item.productName"></a>

                                                    <figcaption>
                                                        <div class="aa-product-title"><a title="@item.productName" href="/chi-tiet/@item.metatTitle-@item.ID">@item.productName</a></div>
                                                        @if (item.promotionPrice > 0)
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.promotionPrice)<sup><u>đ</u></sup></span><span class="aa-product-price"><del>@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></del></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></span>
                                                        }
                                                        <div class="btn-product-mb">
                                                            <a href="#" class="aa-add-card-btn-mb action like" id="like_@item.ID" data-id="@item.ID" data-toggle="tooltip" data-placement="top" title="Yêu thích"><span class="fa fa-heart-o"></span></a>
                                                            @if (item.quantity > 0)
                                                            {
                                                                <a class="aa-add-card-btn-mb action-addcart" role="button" href="#" data-id="@item.ID"><span class="fa fa-shopping-cart"></span> MUA HÀNG</a>
                                                            }
                                                            else
                                                            {
                                                                <a class="aa-add-card-btn-mb disabled" role="button"><span class="fa fa-shopping-cart"></span> MUA HÀNG</a>
                                                            }
                                                            <a href="#" class="aa-add-card-btn-mb action quick-view" data-id="@item.ID" data-toggle2="tooltip" data-placement="top" title="Xem nhanh"><span class="fa fa-search"></span></a>
                                                        </div>
                                                    </figcaption>
                                                </figure>

                                                <!-- product badge -->
                                                @if (item.quantity == null || item.quantity == 0)
                                                {
                                                    <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                                                }
                                            </li>
                                        }
                                    </ul>

                                </div>
                                <!-- / new product category -->

                            </div>
                            <!-- quick view modal -->
                            <div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div class="row">
                                                <!-- Modal view slider -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-slider">

                                                    </div>
                                                </div>
                                                <!-- Modal view content -->
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="aa-product-view-content">
                                                        <h3></h3>
                                                        <div class="aa-price-block">
                                                            <span class="aa-product-view-price"></span>
                                                        </div>
                                                        <p><!--des--></p>
                                                        <div class="aa-prod-quantity">
                                                            <input type="number" size="4" value="1" id="quantity" />
                                                            <p class="aa-prod-category">
                                                                Danh mục: <a href="#">Test</a>
                                                            </p>
                                                        </div>
                                                        <input type="hidden" id="hidProductId" value="0" />
                                                        <div class="aa-prod-view-bottom">
                                                            <a href="#" class="aa-add-to-cart-btn" id="add-cart-modal"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                                            <a href="#" id="aa-cart-modal-detail" class="aa-add-to-cart-btn">Xem chi tiết</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- / quick view modal -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Products section -->
<!--Suport-->
@{Html.RenderAction("_Suport", "Home");}
<!--/Suport-->
<!--Product whith category-->
<!-- popular section -->
@if (ListFalse.Count > 0)
{
    <section id="aa-popular-category">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="aa-popular-category-area">
                            <!-- start prduct navigation -->
                            <ul class="nav nav-tabs aa-products-tab">
                                <li class="active"><a href="#popular" data-toggle="tab">Hàng sắp về</a></li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <!-- Start men popular category -->
                                <div class="tab-pane fade in active" id="popular">
                                    <ul class="aa-product-catg aa-popular-slider">

                                        <!-- start single product item -->
                                        @foreach (var item in ListFalse)
                                        {

                                            <li>
                                                <figure>
                                                    <a class="aa-product-img" href="javascript:;"><img src="@item.image" alt="@item.productName"></a>
                                                    <figcaption>
                                                        <div class="aa-product-title"><a title="@item.productName" href="javascript:;">@item.productName</a></div>
                                                        @if (item.promotionPrice > 0)
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.promotionPrice)<sup><u>đ</u></sup></span><span class="aa-product-price"><del>@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></del></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="aa-product-price">@string.Format("{0:0,0}", item.price)<sup><u>đ</u></sup></span>
                                                        }
                                                    </figcaption>
                                                </figure>
                                                <!-- product badge -->
                                                <span class="aa-badge aa-sold-out" href="#">Hết hàng!</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <!-- / popular product category -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<!-- / popular section -->
@{ Html.RenderAction("_Post", "Home");}